Located in {{rental.city}}, this {{rental.bedrooms}} bedroom {{rental.type}} is available by arrantement through {{rental.owner}}.
<br>
<br>
<img src={{rental.image}} alt={{rental.type}}>
<br>
<button class= "btn btn-default"{{action 'delete' rental}}>Delete</button>
